html
  body(style="background:#fff; font: 14px/1.4 'helvetica neue', helvetica, arial, sans-serif; margin:0; padding:100px; color:#222")
    h1(style="font-size:28px; margin-top:25px") Cluster exception
    p An exception occurred on #{date} &ldquo;
      span(style="color:#3B88D8") #{exception.message}
      |&rdquo;
    pre(style="border:1px solid #eee;padding:10px;min-width:800px;overflow:auto")#{exception.stack}
    
    h2(style="font-size:16px; margin-top:20px") Log snapshot
    - Object.keys(log).forEach(function(key){
        - if(key && log[key].length){
          h2(style="font-size:14px;color:#3B88D8")= key
          pre(style="border:1px solid #eee;padding:10px;min-width:800px;overflow:auto")= log[key]
        - }
    - })
    
    h2(style="font-size:16px; margin-top:20px") Memory history
    img(src: graph.freemem, style="margin:0 40px 40px 0; border:1px solid #fafafa")
    img(src: graph.totalmem, style="margin:0 40px 40px 0; border:1px solid #fafafa")
    img(src: graph.rss, style="margin:0 40px 40px 0; border:1px solid #fafafa")
    img(src: graph.vsize, style="margin:0 40px 40px 0; border:1px solid #fafafa")
    img(src: graph.heapUsed, style="margin:0 40px 40px 0; border:1px solid #fafafa")
    img(src: graph.heapTotal, style="margin:0 40px 40px 0; border:1px solid #fafafa")
    
    - if(Object.keys(graph).some(function(v){return v.indexOf('load') >= 0 })){
      h2(style="font-size:16px; margin-top:20px") Load average history
      img(src: graph.freemem, style="margin:0 40px 40px 0; border:1px solid #fafafa")
      img(src: graph.totalmem, style="margin:0 40px 40px 0; border:1px solid #fafafa")
      img(src: graph.rss, style="margin:0 40px 40px 0; border:1px solid #fafafa")
      img(src: graph.vsize, style="margin:0 40px 40px 0; border:1px solid #fafafa")
      img(src: graph.heapUsed, style="margin:0 40px 40px 0; border:1px solid #fafafa")
      img(src: graph.heapTotal, style="margin:0 40px 40px 0; border:1px solid #fafafa")
    -}
    
    - if(Object.keys(graph).some(function(v){return v.indexOf('cpu') >= 0 })){
      h2(style="font-size:16px; margin-top:20px") CPU Cycle history
      img(src: graph.freemem, style="margin:0 40px 40px 0; border:1px solid #fafafa")
      img(src: graph.totalmem, style="margin:0 40px 40px 0; border:1px solid #fafafa")
      img(src: graph.rss, style="margin:0 40px 40px 0; border:1px solid #fafafa")
      img(src: graph.vsize, style="margin:0 40px 40px 0; border:1px solid #fafafa")
      img(src: graph.heapUsed, style="margin:0 40px 40px 0; border:1px solid #fafafa")
      img(src: graph.heapTotal, style="margin:0 40px 40px 0; border:1px solid #fafafa")
    -}
    
    h2(style="font-size:16px; margin-top:20px") Operating System
    - Object.keys(os).forEach(function(key){
         dl
          dt(style="color:#3B88D8;display:inline-block;width:200px")= key
          dd(style="display:inline")= os[key]
    - })
   
    h2(style="font-size:16px; margin-top:20px") Library versioning
    - Object.keys(environment.versions).forEach(function(key){
         dl
          dt(style="color:#3B88D8;display:inline-block;width:200px")= key
          dd(style="display:inline")= environment.versions[key]
    - })
    
    h2(style="font-size:16px; margin-top:20px") Environment variables
    - Object.keys(environment.env).forEach(function(key){
         dl
          dt(style="color:#3B88D8;display:inline-block;width:200px")= key
          dd(style="display:inline")= environment.env[key]
    - })